<% if flash[:error] || flash[:notice] %>
  <p class='error'> <%=h flash[:error] || flash[:notice]%></p>
<% end %>
<h1>Hello Mr.Smart</h1>
<h3>Please select interested currency from the list bellow or use Filter input:</h3>

<div ng-controller="currencyCtrl">
<%= form_for :currency_form, url: {controller: "countries" , action: "new"}  do |f| %>
  <input type="search" ng-model="search" class="inputs">
      <select id="currencies_select" class="inputs">
        <option> </option>
        <option data-ng-repeat="currency in currencies | filter:search" value="{{currency.name}}">{{currency.currency}} - {{currency.currency_code}}</option>
      </select>
    <br>
  
  <%= f.hidden_field :country_name %>
  <%= f.hidden_field :country_currency %>
  
  <h2 id="contry_currency" > Currency Country is </h2>
  </div>
  <div class="actions">
      <%= f.submit('Mark as visited') %>
  </div>
<% end %>
<br>
<br>

<%= link_to('All countries', countries_path, class: 'countries_link') %>
<%= link_to('Visited countries', countries_path(query: :visited), class: 'countries_link') %>
<%= link_to('Remaining countries', countries_path(query: :remaining), class: 'countries_link') %>

