<%= form_for(@country) do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, readonly: true %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency, readonly: true %>
  </div>
  <div class="chekbox">
    <%= f.label 'Mark as visited' %>
    <%= f.check_box :visited %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, size: '25x10' %>
  </div>
  <div class="field">
    <%= f.label :visit_from %><br>
    <%= f.datetime_select :visit_from %>
  </div>
  <div class="field">
    <%= f.label :visit_to %><br>
    <%= f.datetime_select :visit_to %>
  </div>
  <div class="actions">
    <%= f.submit('Add to visited...') %>
  </div>
<% end %>
